body {
    background-image: url(assets/images/interlaced.png);
    font-family: 'Raleway', sans-serif;
}

#git-logo {
    color: #17a2b8;
    font-size: 30px;
    padding: 10px 0 0 0;
}


.btn-link {
    text-decoration: none;
    color: white;
}

.btn-link:hover {
    color: #17a2b8;
}

.card-body {
    color: white;
    padding: 0px;
}

h4 {
    color: black;
    padding: 10px;
}